.counter-div{
    margin-top: 100px;
}

.counter-div .counter{
    display: flex;
    justify-content: center;
}

.counter-div .counter .number{
    background-color: rgb(180, 178, 178);
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 30px;
    border-radius: 50%;
    font-size: 60px;
    font-weight: bold;
}


.counter-div .buttons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.counter-div .buttons .btn{
width: 50px;
font-size: 20px;
background-color: green;
border: none;
}

.counter-div .buttons .btn1 {
    margin-left: 40px;
    background-color: red;
}